<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="icon" type='image/png' href="../static/img/favicon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <title>DR</title>
</head>

<body>

  <i class="bi bi-list menu-mobile"></i>

  <aside id="header">

    <section class="profile">
      <img src="../static/img/profile.jpg" alt="Foto do Diego">
      <h1>Diego Ruescas</h1>

      <div class="social-links mt-4 text-center">
        <a href="https://www.linkedin.com/in/diego-ruescas/" target="_blank">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://github.com/diegoru" target="_blank">
          <i class="bi bi-github"></i>
        </a>
      </div>
    </section>

    <nav id="navbar" class="nav-menu">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i> Habilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#curriculo"><i class="bi bi-file-earmark"></i> Currículo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#portfolio"><i class="bi bi-collection"></i> Portfólio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#contato"><i class="bi bi-envelope"></i> Contato</a>
        </li>
      </ul>
    </nav>

  </aside>

  <main id="main">

    <section id="inicio" class="row m-0 p-0">
      <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-white text-shadow">Diego Ruescas</h2>
      </div>

      <div class="col-md-7 d-flex justify-content-end align-items-end">
        <div id="arraste" class="d-flex">
          <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
          <a href="#sobre">Arraste para mais</a>
        </div>
      </div>
    </section>

    <section id="sobre" class="container mt-5">
      <div class="row w-100">
        <div class="col-md-12" data-anime="down">
          <h2 class="pt-3">Sobre</h2>
          <p>Extremamente motivado, em constante desenvolvimento de minhas habilidades e
            crescimento profissional. Procuro uma posição na área de tecnologia.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid shadow" src="../static/img/profile.jpg" alt="" data-anime="left">
        </div>

        <div class="col-md-8" data-anime="right">
          <h3 class="mt-3">Objetivos</h3>
          <p>Após muitos anos na área comercial, atuando no atendimento a clientes e desenvolvimento de projetos e
            eventos, a paixão pela tecnologia me fez entrar de cabeça na área de programação. Iniciei a faculdade de
            engenharia de software e a realização de cursos para me profissionalizar e atuar na área de tecnologia. </p>
          <div class="row mt-3 mb-3">

            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item">
                  Niver: <span class="fw-lighter"> 03 de Janeiro de 1983</span>
                </li>
                <li class="list-group-item">
                  Hobby: <span class="fw-lighter"> Viajar</span>
                </li>
              </ul>
            </div>

            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item">
                  Cidade: <span class="fw-lighter"> São Paulo</span>
                </li>
                <li class="list-group-item">
                  Estado: <span class="fw-lighter"> SP</span>
                </li>
              </ul>
            </div>

          </div>

          <p><q>Fazer o que você gosta é liberdade. Gostar do que você faz é felicidade </q>– Frank Tyger.</p>

        </div>
      </div>
    </section>

    <section id="habilidades" class="mt-5 section-bg">
      <div class="container pb-5">
        <h2 class="pt-5">Habilidades</h2>
        <p>Mesmo atuando na área comercial, tive a possibilidade de utilizar a tecnologia e adquirir algumas habilidades
          técnicas e não técnicas, a maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu
          acredito ter em cada uma delas.</p>

        <div class="row">
          <div class="col-md-6">
            <p class="mt-3 mb-0">HTML</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;" aria-valuenow="85"
                aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>

            <p class="mt-3 mb-0">CSS</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;" aria-valuenow="85"
                aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>

            <p class="mt-3 mb-0">JavaScript</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progressbar" style="width: 60%;" aria-valuenow="60"
                aria-valuemin="0" aria-valuemax="100">60%</div>
            </div>

          </div>

          <div class="col-md-6">
            <p class="mt-3 mb-0">Python</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progressbar" style="width: 55%;" aria-valuenow="55"
                aria-valuemin="0" aria-valuemax="100">55%</div>
            </div>

            <p class="mt-3 mb-0">Excel</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;" aria-valuenow="80"
                aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>

            <p class="mt-3 mb-0">Git</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progressbar" style="width: 50%;" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
          </div>
        </div>

        <hr class="w-50 me-auto ms-auto mt-5">

        <div class="row">
          <div class="col-md-6">
            <p class="mt-3 mb-0">Trabalho em equipe</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progressbar" style="width: 95%;" aria-valuenow="95"
                aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>

            <p class="mt-3 mb-0">Proatividade</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progressbar" style="width: 98%;" aria-valuenow="98"
                aria-valuemin="0" aria-valuemax="100">98%</div>
            </div>

            <p class="mt-3 mb-0">Orientação a detalhes</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progressbar" style="width: 98%;" aria-valuenow="98"
                aria-valuemin="0" aria-valuemax="100">98%</div>
            </div>

          </div>

          <div class="col-md-6">
            <p class="mt-3 mb-0">Comunicação</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progressbar" style="width: 90%;" aria-valuenow="90"
                aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>

            <p class="mt-3 mb-0">Empatia</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progressbar" style="width: 99%;" aria-valuenow="99"
                aria-valuemin="0" aria-valuemax="100">99%</div>
            </div>

            <p class="mt-3 mb-0">Comprometimento</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progressbar" style="width: 99%;" aria-valuenow="99"
                aria-valuemin="0" aria-valuemax="100">99%</div>
            </div>
          </div>
        </div>


      </div>
    </section>

    <section id="curriculo" class="mt-5 cv">
      <div class="container pb-5">
        <h2 class="pt-3 pb-4">Currículo</h2>

        <div class="row">
          <div class="col-md-6">
            <h3 class="cv-title">Educação</h3>

            <div class="cv-item" data-anime="up">
              <h4>Ensino Médio</h4>
              <h5>2000</h5>
              <p><em>Centro Educacional independência</em></p>
            </div>

            <div class="cv-item" data-anime="up">
              <h4>Bacharelado Engenharia de Software</h4>
              <h5>Cursando</h5>
              <p><em>Faculdade Anhaguera</em></p>
            </div>

            <div class="cv-item" data-anime="up">
              <h4>The Complete Python Pro</h4>
              <h5>Cursando</h5>
              <p><em>London App Brewery</em></p>
              <p></p>
            </div>



          </div>

          <div class="col-md-6">
            <h3 class="cv-title">Profissional</h3>

            <div class="cv-item" data-anime="up">
              <h4>Consultor de Vendas</h4>
              <h5>1999 - 2007</h5>
              <p><em>Sivadi Editorial</em></p>
            </div>

            <div class="cv-item" data-anime="up">
              <h4>Consultor de Vendas</h4>
              <h5>2009 - 2010</h5>
              <p><em>Editora Divulgação Cultural</em></p>
            </div>

            <div class="cv-item" data-anime="up">
              <h4>Consultor de Vendas</h4>
              <h5>2010 - 2017</h5>
              <p><em>Editora Rideel</em></p>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section id="portfolio" class="section-bg mt-5">
      <div class="container pb-5 pt-5" data-anime="left">

        <h2 class="pb-4">Portfólio</h2>

        <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <!--<div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
          </div>-->
          <div class="carousel-inner">

            <div class="carousel-item active" data-bs-interval="10000">

              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card">
                    <img src="../static/img/port-3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-center">Jokenpô</h5>
                      <!--<p class="card-text"></p>-->

                      <div class="d-flex justify-content-center">
                        <a href="https://github.com/diegoru/jokenpo" target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="../static/img/port-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-center">Cara ou Coroa</h5>
                      <!--<p class="card-text"></p>-->

                      <div class="d-flex justify-content-center">
                        <a href="https://github.com/diegoru/cara-ou-coroa" target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="../static/img/port-4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-center">Portfólio</h5>
                      <!--<p class="card-text"></p>-->

                      <div class="d-flex justify-content-center">
                        <a href="https://github.com/diegoru/portfolio" target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
      <!--<button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>-->
      </div>
      </div>
    </section>

    <section id="contato" class="pt-5 pb-5">

      <div class="container mb-5">
        <h2 class="pt-3 pb-3">Contato</h2>

        <div class="row">

          <div class="col-md-5">
            <div class="card p-5 shadow border-0" data-anime="up">

              <div class="endereco">
                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                <p>São Paulo, SP</p>
              </div>

              <div class="email">
                <h4><i class="bi bi-envelope"></i> Email:</h4>
                <p>contato.diegoruescas@gmail.com</p>
              </div>

              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14632.866947160343!2d-46.55502062838263!3d-23.524705830823926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5e51b4d72683%3A0x5a7009ad0acffd39!2sPenha%20de%20Fran%C3%A7a%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1650329571013!5m2!1spt-BR!2sbr"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" class="w-100"></iframe>

            </div>
          </div>

          <div class="col-md-7 mt-5 mt-md-0">

            <div class="card p-5 h-100 shadow border-0" data-anime="left">

              <form class="row g-3" action='/send' method="POST">
                <div class="col-md-6">
                  <label for="nome" class="form-label">Nome:</label>
                  <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome" required>
                </div>

                <div class="col-md-6">
                  <label for="email" class="form-label">Email:</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email"
                    required>
                </div>

                <div class="col-12">
                  <label for="mensagem" class="form-label">Mensagem:</label>
                  <textarea type="text" class="form-control" rows="10" id="mensagem" placeholder="Escreva sua mensagem"
                    name="mensagem" required></textarea>
                </div>
                <div class="col-12 d-flex justify-content-center mt-4">
                  <button id="btn-enviar" type="submit" class="btn btn-primary">Enviar mensagem</button>
                  <button id="btn-enviar-loader" class="btn btn-primary" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Enviando...
                  </button>
                </div>


              </form>
            </div>

          </div>

        </div>

      </div>

    </section>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
      <i class="bi bi-check-circle-fill"></i> {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %} 

  </main>

  <footer id="footer">
    <div class="container">
      <div class="text-center">
        &copy; Copyright <strong>DR</strong>
      </div>
    </div>
  </footer>


  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/script.js"></script>
</body>

</html>